{% extends "base.html" %}

{% block title %}
Home - Learning Tracker
{% endblock %}

{% block content %}
    

<div class="container mt-5">

    <h2 class="mb-4">Welcome to the Learning Tracker</h2>

    <div class="row g-4">

        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Progressi</h5>
                    <a href="/lista_progressi" class="btn btn-primary">
                        Vai
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Materie</h5>
                    <a href="/materie" class="btn btn-primary">
                        Vai
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Note</h5>
                    <a href="/note" class="btn btn-primary">
                        Vai
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}