<!DOCTYPE html>
<html>

<head>
    <title>Lista Progressi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div class="container mt-4">
        <h1 class="mb-4">Lista Progressi</h1>

        <div class="row">

            {% for p in progressi %}

            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow">

                    <div class="card-body">

                        <h5 class="card-title">
                            {{ p["titolo_progresso"] }}
                        </h5>

                        <h6 class="card-subtitle mb-2 text-muted">
                            {{ p["nome_materia"] }}
                        </h6>

                        <p class="card-text">
                            {{ p["descrizione"] }}
                        </p>

                        <small class="text-muted">
                            {{ p["data"] }}
                        </small>
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modificaModal">
                            Modifica
                        </button>
                    </div>

                </div>
            </div>

            {% endfor %}

            <div class="modal fade" id="modificaModal" tabindex="-1">

                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title">Modifica Progresso</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <div class="modal-body">
                            Qui metterai il form di modifica
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <a href="../" class="btn btn-primary">Home</a>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>