<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Materie</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <button type="button" class="btn btn-secondary btn-lg" data-bs-toggle="modal"
        data-bs-target="#modificaModal">Aggiungi materia</button>






    <div class="modal fade" id="modificaModal" tabindex="-1">

        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Aggiungi materia</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <form method="POST" action="/materie">

                        <div class="mb-3">
                            <label class="form-label">Nome materia</label>
                            <input type="text" class="form-control" name="nome_materia">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Livello difficoltà</label>

                            <select class="form-select" name="difficolta">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Tempo dedicato (ore)</label>
                            <input type="number" class="form-control" name="ore" min="0">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Tempo dedicato (minuti)</label>
                            <input type="number" class="form-control" name="minuti" min="0">
                        </div>

                        <button type="submit" class="btn btn-primary">
                            INVIA
                        </button>

                    </form>
                </div>
            </div>

        </div>
    </div>

    <a href="../" class="btn btn-primary">Home</a>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>